<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Freelancer - Start Bootstrap Theme</title>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/css/freelancer.css" th:href="@{/css/freelancer.css}" rel="stylesheet"/>
    <link href="/css/sticky-footer.css" th:href="@{/css/sticky-footer.css}" rel="stylesheet"/>
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
                    <div class="intro-text">
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span id="search_concept">Category</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">All Ads</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Buy and sell</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Cars &amp; vehicles</a></li>
                                    <li><a href="#">Pets</a></li>
                                    <li><a href="#">Vacation rentals</a></li>
                                    <li><a href="#">Jobs</a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="search_param" value="all" id="search_param"/>
                            <input type="text" class="form-control" name="x" placeholder="Search term..."/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>
